.idea
*.cache
venv/
.mypy_cache/
__pycache__/
.venv/

# Configuration files
config.yaml
**/.apisession

# Log files
*.log
*.log.[0-9]

# Shelve db files
*.bak
*.dat
*.dir

**/.pytest_cache/
htmlcov/
.coverage
**/.env
