[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy-extensions = "*"
"iso8601" = ">=0.1.12"
"m3u8" = ">=0.3.5"
PyYAML = "*"
configargparse = "*"
aiohttp = "*"

[dev-packages]
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-commas" = "*"
"flake8-quotes" = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
coverage = "*"
"flake8-per-file-ignores" = "*"
